@charset "utf-8";

// Colors
$colorWhite: #F0F2F4;
$transparent: rgba(0,0,0,0);

$fslabDarkMagenta: #3D1244;
$fslabMagenta: #A00975;
$fslabLightMagenta: #F99BDE;
$fslabSapphire: #19657B;
$fslabAquamarine: #438AFE;