@charset "UTF-8";
/* PrismJS 1.24.1
https://prismjs.com/download.html#themes=prism-twilight&languages=clike+fsharp */
/**
* prism.js Twilight theme
* Based (more or less) on the Twilight theme originally of Textmate fame.
* @author Remy Bach
*/
code[class*=language-],
pre[class*=language-] {
  color: white;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  text-shadow: 0 -0.1em 0.2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-],
:not(pre) > code[class*=language-] {
  background: #3D1244;
}

/* Code blocks */
pre[class*=language-] {
  box-shadow: 1px 1px 0.5em black inset;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

pre[class*=language-]::-moz-selection {
  /* Firefox */
  background: #3D1244;
}

pre[class*=language-]::selection {
  /* Safari */
  background: #3D1244;
}

/* Text Selection colour */
pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*=language-] {
  border-radius: 0.3em;
  border: 0.13em solid #545454;
  /* #545454 */
  box-shadow: 1px 1px 0.3em -0.1em black inset;
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #787878;
  /* #777777 */
}

.token.punctuation {
  opacity: 0.7;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
  color: #cf694a;
  /* #CF6A4C */
  background-color: initial;
  display: initial;
  font-size: initial;
  height: initial;
  padding: initial;
  margin-right: initial;
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: #f9ee9a;
  /* #F9EE98 */
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
  color: #919e6b;
  /* #8F9D6A */
}

.token.atrule {
  color: #7386a5;
  /* #7587A6 */
}

.token.regex,
.token.important {
  color: #e9c163;
  /* #E9C062 */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #ad895c;
  /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1;
}

.line-highlight {
  background: rgba(84, 84, 84, 0.25);
  /* #545454 */
  background: linear-gradient(to right, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  border-bottom: 1px dashed #545454;
  /* #545454 */
  border-top: 1px dashed #545454;
  /* #545454 */
  left: 0;
  line-height: inherit;
  margin-top: 0.75em;
  /* Same as .prism’s padding-top */
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  background-color: #8794a6;
  /* #8794A6 */
  border-radius: 999px;
  box-shadow: 0 1px white;
  color: #f5f2f0;
  /* #F5F2F0 */
  content: attr(data-start);
  font: bold 65%/1.5 sans-serif;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: 0.4em;
  vertical-align: 0.3em;
}

.line-highlight[data-end]:after {
  bottom: 0.4em;
  content: attr(data-end);
  top: auto;
}

/*# sourceMappingURL=tmpLvaC1J.tmp.map */
