@charset "UTF-8";
/* PrismJS 1.24.1
https://prismjs.com/download.html#themes=prism-twilight&languages=clike+fsharp */
/**
* prism.js Twilight theme
* Based (more or less) on the Twilight theme originally of Textmate fame.
* @author Remy Bach
*/
code[class*=language-],
pre[class*=language-] {
  color: white;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  text-shadow: 0 -0.1em 0.2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-],
:not(pre) > code[class*=language-] {
  background: #3D1244;
}

/* Code blocks */
pre[class*=language-] {
  box-shadow: 1px 1px 0.5em black inset;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

pre[class*=language-]::-moz-selection {
  /* Firefox */
  background: #3D1244;
}

pre[class*=language-]::selection {
  /* Safari */
  background: #3D1244;
}

/* Text Selection colour */
pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*=language-] {
  border-radius: 0.3em;
  border: 0.13em solid #545454;
  /* #545454 */
  box-shadow: 1px 1px 0.3em -0.1em black inset;
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #787878;
  /* #777777 */
}

.token.punctuation {
  opacity: 0.7;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
  color: #cf694a;
  /* #CF6A4C */
  background-color: initial;
  display: initial;
  font-size: initial;
  height: initial;
  padding: initial;
  margin-right: initial;
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: #f9ee9a;
  /* #F9EE98 */
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
  color: #919e6b;
  /* #8F9D6A */
}

.token.atrule {
  color: #7386a5;
  /* #7587A6 */
}

.token.regex,
.token.important {
  color: #e9c163;
  /* #E9C062 */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #ad895c;
  /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1;
}

.line-highlight {
  background: rgba(84, 84, 84, 0.25);
  /* #545454 */
  background: linear-gradient(to right, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  border-bottom: 1px dashed #545454;
  /* #545454 */
  border-top: 1px dashed #545454;
  /* #545454 */
  left: 0;
  line-height: inherit;
  margin-top: 0.75em;
  /* Same as .prism’s padding-top */
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  background-color: #8794a6;
  /* #8794A6 */
  border-radius: 999px;
  box-shadow: 0 1px white;
  color: #f5f2f0;
  /* #F5F2F0 */
  content: attr(data-start);
  font: bold 65%/1.5 sans-serif;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: 0.4em;
  vertical-align: 0.3em;
}

.line-highlight[data-end]:after {
  bottom: 0.4em;
  content: attr(data-end);
  top: auto;
}

.is-active-link-darkmagenta, .is-active-link-lightmagenta, .is-active-link-magenta {
  background-color: #3D1244 !important;
  color: #F0F2F4 !important;
  font-weight: bold;
}

.is-active-link-magenta {
  background-color: #A00975 !important;
}

.is-active-link-lightmagenta {
  color: #3D1244 !important;
  background-color: #F99BDE !important;
}

.image-scroll-container {
  max-width: 50%;
  margin: auto;
  border: 1px solid #2D3E50;
}

@media only screen and (max-width: 1024px) {
  .hero-body {
    padding: 0;
  }
}

.media {
  align-items: center !important;
}

.media-content {
  overflow: unset;
}

.main-title {
  font-size: 5rem;
}
@media only screen and (max-width: 1024px) {
  .main-title {
    font-size: 3rem;
  }
}

.content-table {
  margin: 0 auto;
  background-color: #F0F2F4;
}

.content-table td, .content-table th {
  vertical-align: middle;
}

.landing-page-link {
  background-color: #438AFE;
  color: #F0F2F4;
  border-color: transparent;
}

.landing-page-link:hover {
  color: #438AFE;
  background-color: #F0F2F4;
}

.tutorial-link {
  color: #3D1244;
}

.tutorial-link:hover {
  background-color: #438AFE;
  color: #F0F2F4;
}

#logo-square {
  border: 2px solid #F0F2F4;
}

.is-white {
  color: #F0F2F4 !important;
}

.is-magenta {
  color: #A00975;
}

.is-lightmagenta {
  color: #F99BDE;
}

.is-darkmagenta {
  color: #3D1244;
}

.is-sapphire {
  color: #19657B;
}

.is-aquamarine {
  color: #438AFE;
}

.myNavbar {
  font-size: 0.9rem;
}

.smooth-hover {
  transition: background-color 0.2s, color 0.2s;
}

.has-bg-white {
  background-color: #F0F2F4;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-white {
    background-color: #F0F2F4;
    color: #F0F2F4;
  }
}

.has-bg-magenta {
  background-color: #A00975;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-magenta {
    background-color: #A00975;
    color: #F0F2F4;
  }
}

.has-bg-lightmagenta, .package-container .tag {
  background-color: #F99BDE;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-lightmagenta, .package-container .tag {
    background-color: #F99BDE;
    color: #F0F2F4;
  }
}

.has-bg-darkmagenta, .package-container code.package-reference {
  background-color: #3D1244;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-darkmagenta, .package-container code.package-reference {
    background-color: #3D1244;
    color: #F0F2F4;
  }
}

.has-bg-sapphire {
  background-color: #19657B;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-sapphire {
    background-color: #19657B;
    color: #F0F2F4;
  }
}

.has-bg-aquamarine {
  background-color: #438AFE;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-aquamarine {
    background-color: #438AFE;
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-magenta {
  background: linear-gradient(0deg, #A00975 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-magenta {
    background: linear-gradient(0deg, #A00975 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-lightmagenta {
  background: linear-gradient(0deg, #F99BDE 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-lightmagenta {
    background: linear-gradient(0deg, #F99BDE 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-darkmagenta {
  background: linear-gradient(0deg, #3D1244 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-darkmagenta {
    background: linear-gradient(0deg, #3D1244 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-sapphire {
  background: linear-gradient(0deg, #19657B 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-sapphire {
    background: linear-gradient(0deg, #19657B 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-aquamarine {
  background: linear-gradient(0deg, #438AFE 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-aquamarine {
    background: linear-gradient(0deg, #438AFE 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-magenta {
  background: linear-gradient(0deg, #A00975 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-magenta {
    background: linear-gradient(0deg, #A00975 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-lightmagenta, .package-container a:hover {
  background: linear-gradient(0deg, #F99BDE 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-lightmagenta, .package-container a:hover {
    background: linear-gradient(0deg, #F99BDE 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-darkmagenta {
  background: linear-gradient(0deg, #3D1244 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-darkmagenta {
    background: linear-gradient(0deg, #3D1244 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-sapphire {
  background: linear-gradient(0deg, #19657B 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-sapphire {
    background: linear-gradient(0deg, #19657B 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-aquamarine {
  background: linear-gradient(0deg, #438AFE 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-aquamarine {
    background: linear-gradient(0deg, #438AFE 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.is-emphasized-darkmagenta {
  border-bottom: 5px solid #3D1244;
}

.is-emphasized-magenta {
  border-bottom: 5px solid #A00975;
}

.is-emphasized-lightmagenta {
  border-bottom: 5px solid #F99BDE;
}

.is-emphasized-sapphire {
  border-bottom: 5px solid #19657B;
}

.is-emphasized-aquamarine {
  border-bottom: 5px solid #438AFE;
}

.is-strongly-emphasized-darkmagenta {
  border-bottom: 10px solid #3D1244;
}

.is-strongly-emphasized-magenta {
  border-bottom: 10px solid #A00975;
}

.is-strongly-emphasized-lightmagenta {
  border-bottom: 10px solid #F99BDE;
}

.is-strongly-emphasized-sapphire {
  border-bottom: 10px solid #19657B;
}

.is-strongly-emphasized-aquamarine {
  border-bottom: 10px solid #438AFE;
}

html, body {
  font-family: "Nunito Sans";
  line-height: 1.5;
  background: #F0F2F4;
  /*    @media only screen and (max-width: 3000px) {
      font-size: 40px;
  }

  @media only screen and (max-width: 2560px) {
      font-size: 32px;
  }

  @media only screen and (max-width: 2200px) {
      font-size: 22px;
  }

  @media only screen and (max-width: 1500px) {
      font-size: 19px;
  }

  @media only screen and (max-width: 1500px) {
      font-size: 18px;
  }

  @media only screen and (max-width: 1214px) {
      font-size: 17px;
  }

  @media only screen and (max-width: 1100px) {
      font-size: 16px;
  }

  @media only screen and (max-width: 1000px) {
      font-size: 15px;
  }

  @media only screen and (max-width: 900px) {
      font-size: 14px;
  }

  @media only screen and (max-width: 600px) {
      font-size: 13px;
  }

  @media only screen and (max-width: 450px) {
      font-size: 12px;
  }

  @media only screen and (max-width: 400px) {
      font-size: 11px;
  }

  @media only screen and (max-width: 350px) {
      font-size: 10px;
  }

  @media only screen and (max-width: 300px) {
      font-size: 9px;
  }*/
}

.footer-link {
  color: #438AFE;
}

.footer-link:hover {
  color: #A00975;
}

.button {
  font-family: "Nunito Sans";
}

.input {
  font-family: "Nunito Sans";
}

.main-Container, #landing-page-hero-container.main-Container {
  padding-bottom: 1.5rem;
  margin: 2rem auto;
  width: 80%;
  /*max-width: 2000px;*/
}
@media only screen and (max-width: 1024px) {
  .main-Container, #landing-page-hero-container.main-Container {
    width: 95%;
  }
}
@media only screen and (max-width: 400px) {
  .main-Container, #landing-page-hero-container.main-Container {
    margin: 10px auto;
    padding-bottom: 10px;
  }
}

#landing-page-hero-container.main-Container {
  margin-top: 0;
  margin-bottom: 0;
}

.main-ImageContainer {
  /*padding: 1rem;*/
  max-width: 80%;
  min-width: 350px;
  margin: 0.5rem auto;
}
@media only screen and (max-width: 1024px) {
  .main-ImageContainer {
    max-width: 50%;
    min-width: 250px;
  }
}

strong {
  font-weight: 600;
}

.main-TextField {
  padding: 1.5rem 3rem;
  max-width: 100%;
  margin: 1rem 2rem;
  border-radius: 10px;
}
.main-TextField .main-text {
  text-align: justify;
}
@media only screen and (max-width: 1024px) {
  .main-TextField {
    margin: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-TextField {
    margin: 1rem 1.5rem;
  }
}

.main-text .column {
  margin: 0 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .is-reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
.slider-container {
  min-height: unset;
}

.slider-navigation-previous {
  color: black;
}

.slider-navigation-next {
  color: black;
}

.carousel {
  overflow: hidden;
  margin: 1rem auto 1rem auto;
}
@media only screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}

#package-header-img {
  border: 4px solid #A00975;
  background-color: #F0F2F4;
}

#package-title-container h1 {
  font-size: 5rem;
}
@media only screen and (max-width: 1214px) {
  #package-title-container h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  #package-title-container h1 {
    font-size: 1.5rem;
  }
}

#package-title-container h3 {
  font-size: 2rem;
}
@media only screen and (max-width: 1214px) {
  #package-title-container h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #package-title-container h3 {
    font-size: 1rem;
  }
}

.package-container {
  margin-bottom: 2rem;
  border-left: 5px solid #A00975;
}

.package-container .card {
  margin: auto;
  border: unset;
  border-color: unset;
  border-radius: unset;
  box-shadow: unset;
}

.package-container .card-content {
  color: #3D1244;
}

.package-container a {
  color: #A00975;
}

.package-container code.package-reference {
  display: block;
  padding: 1rem;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .package-container code.package-reference {
    width: 100%;
  }
}

.package-container a:hover {
  color: #3D1244;
}

.package-container .tags {
  margin-top: 1rem;
}

.package-container .tag {
  color: #3D1244;
  font-weight: bold;
}

.package-container .collapsible-trigger {
  border-bottom: 2px solid #3D1244;
}

/*# sourceMappingURL=tmpwTEzNe.tmp.map */
