/* PrismJS 1.21.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+csharp+fsharp+python+r+typescript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*=language-],
pre[class*=language-] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

nav {
  border-bottom: 2px solid #3D1244;
}

.is-active-link {
  background-color: #3D1244;
  color: #F0F2F4;
  font-weight: bold;
}

.image-scroll-container {
  max-width: 50%;
  margin: auto;
  border: 1px solid #2D3E50;
}

.is-small-text {
  font-size: 1.5vmin !important;
}

.is-medium-text {
  font-size: 2vmin !important;
}

.is-large-text {
  font-size: 2.5vmin !important;
}

.is-white {
  color: #F0F2F4;
}

.is-magenta {
  color: #A00975;
}

.is-lightmagenta {
  color: #F99BDE;
}

.is-darkmagenta {
  color: #3D1244;
}

.is-sapphire {
  color: #19657B;
}

.is-aquamarine {
  color: #438AFE;
}

.myNavbar {
  font-size: 0.9rem;
}

.smooth-hover {
  transition: background-color 0.2s, color 0.2s;
}

.has-bg-magenta {
  background-color: #A00975;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-magenta {
    background-color: #A00975;
    color: #F0F2F4;
  }
}

.has-bg-lightmagenta, .package-container .tag {
  background-color: #F99BDE;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-lightmagenta, .package-container .tag {
    background-color: #F99BDE;
    color: #F0F2F4;
  }
}

.has-bg-darkmagenta, .package-container code.package-reference {
  background-color: #3D1244;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-darkmagenta, .package-container code.package-reference {
    background-color: #3D1244;
    color: #F0F2F4;
  }
}

.has-bg-sapphire {
  background-color: #19657B;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-sapphire {
    background-color: #19657B;
    color: #F0F2F4;
  }
}

.has-bg-aquamarine {
  background-color: #438AFE;
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-aquamarine {
    background-color: #438AFE;
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-magenta {
  background: linear-gradient(0deg, #A00975 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-magenta {
    background: linear-gradient(0deg, #A00975 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-lightmagenta {
  background: linear-gradient(0deg, #F99BDE 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-lightmagenta {
    background: linear-gradient(0deg, #F99BDE 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-darkmagenta {
  background: linear-gradient(0deg, #3D1244 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-darkmagenta {
    background: linear-gradient(0deg, #3D1244 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-sapphire {
  background: linear-gradient(0deg, #19657B 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-sapphire {
    background: linear-gradient(0deg, #19657B 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-three-fourths-aquamarine {
  background: linear-gradient(0deg, #438AFE 75%, rgba(0, 0, 0, 0) 75%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-three-fourths-aquamarine {
    background: linear-gradient(0deg, #438AFE 80%, rgba(0, 0, 0, 0) 80%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-magenta {
  background: linear-gradient(0deg, #A00975 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-magenta {
    background: linear-gradient(0deg, #A00975 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-lightmagenta, .package-container a:hover {
  background: linear-gradient(0deg, #F99BDE 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-lightmagenta, .package-container a:hover {
    background: linear-gradient(0deg, #F99BDE 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-darkmagenta {
  background: linear-gradient(0deg, #3D1244 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-darkmagenta {
    background: linear-gradient(0deg, #3D1244 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-sapphire {
  background: linear-gradient(0deg, #19657B 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-sapphire {
    background: linear-gradient(0deg, #19657B 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.has-bg-one-fourth-aquamarine {
  background: linear-gradient(0deg, #438AFE 25%, rgba(0, 0, 0, 0) 25%);
  color: #F0F2F4;
}
@media only screen and (max-width: 400px) {
  .has-bg-one-fourth-aquamarine {
    background: linear-gradient(0deg, #438AFE 30%, rgba(0, 0, 0, 0) 30%);
    color: #F0F2F4;
  }
}

.is-emphasized-darkmagenta {
  border-bottom: 5px solid #3D1244;
}

.is-emphasized-magenta {
  border-bottom: 5px solid #A00975;
}

.is-emphasized-lightmagenta {
  border-bottom: 5px solid #F99BDE;
}

.is-emphasized-sapphire {
  border-bottom: 5px solid #19657B;
}

.is-emphasized-aquamarine {
  border-bottom: 5px solid #438AFE;
}

.is-strongly-emphasized-darkmagenta {
  border-bottom: 10px solid #3D1244;
}

.is-strongly-emphasized-magenta {
  border-bottom: 10px solid #A00975;
}

.is-strongly-emphasized-lightmagenta {
  border-bottom: 10px solid #F99BDE;
}

.is-strongly-emphasized-sapphire {
  border-bottom: 10px solid #19657B;
}

.is-strongly-emphasized-aquamarine {
  border-bottom: 10px solid #438AFE;
}

html, body {
  font-family: "Nunito Sans";
  line-height: 1.5;
  background: #F0F2F4;
  /*    @media only screen and (max-width: 3000px) {
      font-size: 40px;
  }

  @media only screen and (max-width: 2560px) {
      font-size: 32px;
  }

  @media only screen and (max-width: 2200px) {
      font-size: 22px;
  }

  @media only screen and (max-width: 1500px) {
      font-size: 19px;
  }

  @media only screen and (max-width: 1500px) {
      font-size: 18px;
  }

  @media only screen and (max-width: 1214px) {
      font-size: 17px;
  }

  @media only screen and (max-width: 1100px) {
      font-size: 16px;
  }

  @media only screen and (max-width: 1000px) {
      font-size: 15px;
  }

  @media only screen and (max-width: 900px) {
      font-size: 14px;
  }

  @media only screen and (max-width: 600px) {
      font-size: 13px;
  }

  @media only screen and (max-width: 450px) {
      font-size: 12px;
  }

  @media only screen and (max-width: 400px) {
      font-size: 11px;
  }

  @media only screen and (max-width: 350px) {
      font-size: 10px;
  }

  @media only screen and (max-width: 300px) {
      font-size: 9px;
  }*/
}

.button {
  font-family: "Nunito Sans";
}

.input {
  font-family: "Nunito Sans";
}

.main-Container, #landing-page-hero-container.main-Container {
  padding-bottom: 1.5rem;
  margin: 2rem auto;
  width: 80%;
  /*max-width: 2000px;*/
}
@media only screen and (max-width: 1024px) {
  .main-Container, #landing-page-hero-container.main-Container {
    width: 95%;
  }
}
@media only screen and (max-width: 400px) {
  .main-Container, #landing-page-hero-container.main-Container {
    margin: 10px auto;
    padding-bottom: 10px;
  }
}

#landing-page-hero-container.main-Container {
  margin-top: 0;
  margin-bottom: 0;
}

.main-ImageContainer {
  /*padding: 1rem;*/
  max-width: 80%;
  min-width: 350px;
  margin: 0.5rem auto;
}
@media only screen and (max-width: 1024px) {
  .main-ImageContainer {
    max-width: 50%;
    min-width: 250px;
  }
}

strong {
  font-weight: 600;
}

.main-TextField {
  padding: 1.5rem 3rem;
  max-width: 100%;
  margin: 1rem 2rem;
  border-radius: 10px;
}
.main-TextField .main-text {
  text-align: justify;
}
@media only screen and (max-width: 1024px) {
  .main-TextField {
    margin: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-TextField {
    margin: 1rem 1.5rem;
  }
}

.main-text .column {
  margin: 0 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .is-reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
.slider-container {
  min-height: unset;
}

.slider-navigation-previous {
  color: black;
}

.slider-navigation-next {
  color: black;
}

.carousel {
  overflow: hidden;
  margin: 1rem auto 1rem auto;
}
@media only screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}

#package-header-img {
  border: 4px solid #A00975;
  background-color: #F0F2F4;
}

#package-title-container h1 {
  font-size: 5rem;
}
@media only screen and (max-width: 1214px) {
  #package-title-container h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  #package-title-container h1 {
    font-size: 1.5rem;
  }
}

#package-title-container h3 {
  font-size: 2rem;
}
@media only screen and (max-width: 1214px) {
  #package-title-container h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #package-title-container h3 {
    font-size: 1rem;
  }
}

.package-container {
  margin-bottom: 2rem;
  border-left: 5px solid #A00975;
}

.package-container .card {
  margin: auto;
  border: unset;
  border-color: unset;
  border-radius: unset;
  box-shadow: unset;
}

.package-container .card-content {
  color: #3D1244;
}

.package-container a {
  color: #A00975;
}

.package-container code.package-reference {
  display: block;
  padding: 1rem;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .package-container code.package-reference {
    width: 100%;
  }
}

.package-container a:hover {
  color: #3D1244;
}

.package-container .tags {
  margin-top: 1rem;
}

.package-container .tag {
  color: #3D1244;
  font-weight: bold;
}

.package-container .collapsible-trigger {
  border-bottom: 2px solid #3D1244;
}

/*# sourceMappingURL=tmp7x3VvY.tmp.map */
