@charset "utf-8";
@import "./prism.scss";

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
$family-primary: 'Open Sans';

// Colors
$colorWhite: #F0F2F4;

$fslabDarkMagenta: #A00975;
$fslabDarkBlue: #2D3E50;
$fslabRose: #D12F67;
$fslabSapphire: #19657B;
$fslabPurple: #AE6DAB;
$fslabDarkGreen: #0D5E52;

//bulma extensions

nav {
    border-bottom: 2px solid $fslabDarkMagenta;
}

.is-active-link {
    background-color: $fslabDarkMagenta;
    color: $colorWhite;
    font-weight: bold;
}

.section {
    margin-bottom:5rem
}

.image-scroll-container {
    max-width: 50%;
    margin:auto;
    border: 1px solid #2D3E50;
}



// a.navbar-item:hover {
//     background-color: lighten($fslabDarkMagenta,);
// }

// install sass (https://sass-lang.com/)
// powershell as admin: 'npm install -g sass'
// go to css folder and 'sass watch style.scss:style.css' to live convert scss file to css onChange.
// might be needed to give exception to computer 'set-executionpolicy remotesigned'


.is-darkmagenta {
    color: $fslabDarkMagenta
}
.is-darkblue {
    color: $fslabDarkBlue
}
.is-rose {
    color: $fslabRose
}
.is-sapphire {
    color: $fslabSapphire
}
.is-purple {
    color: $fslabPurple
}
.is-darkgreen {
    color: $fslabDarkGreen
}

.has-bg-darkmagenta {
    background-color: $fslabDarkMagenta;
    color: $colorWhite;
}
.has-bg-darkblue {
    background-color: $fslabDarkBlue;
    color: $colorWhite;
}
.has-bg-rose {
    background-color: $fslabRose;
    color: $colorWhite;
}
.has-bg-sapphire {
    background-color: $fslabPurple;
    color: $colorWhite;
}
.has-bg-purple {
    background-color: $fslabPurple;
    color: $colorWhite;
}

.has-bg-darkgreen {
    background-color: $fslabDarkGreen;
    color: $colorWhite;
}

// set font 
html, body {
    font-family: "Nunito Sans";
    font-size: 14px;
    background: $colorWhite;
}

.button {
    @extend .button;
    font-family: "Nunito Sans"
}

.input {
    @extend .input;
    font-family: "Nunito Sans"
}
///

.main-Container {
    padding-bottom: 3rem;
    margin: 7rem 5rem
}

@mixin color-container($custom-color) {
    $r1: lightness($custom-color);
    $r: abs($r1 - 80%);
    $lighter: lighten($custom-color, $r);
    background: $lighter;
    background: linear-gradient(0deg, $lighter 75%, $colorWhite 75%);
    color: $colorWhite;

    .main-TextField {
        background-color: $custom-color
    }

    @media only screen and (max-width: 500px) {
        background: linear-gradient(0deg, $lighter 80%, $colorWhite 80%);
    }

    @media only screen and (max-width: 400px) {
        background: linear-gradient(0deg, $lighter 85%, $colorWhite 85%);
    }
}

.card-is-darkmagenta {
    @include color-container($fslabDarkMagenta)
}
.card-is-darkBlue {
    @include color-container($fslabDarkBlue)
}
.card-is-rose {
    @include color-container($fslabRose)
}
.card-is-sapphire {
    @include color-container($fslabSapphire)
}
.card-is-purple {
    @include color-container($fslabPurple)
}
.card-is-darkgreen {
    @include color-container($fslabDarkGreen)
}


// image column
.main-ImageContainer {
    padding: 2rem;
    max-width: 50%;
    // max-width: 164px;
    margin: auto;

    img {
        transition: .5s ease;
    }

    img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.3);
        transition: .5s ease;
        // make it shine a bit (https://www.webnots.com/11-image-hovering-effects-for-weebly/)
        // -webkit-filter: brightness(110%);
        box-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        }
}
//

// ## text column
@mixin skew-only-container($skewBy: 10deg) {

    $newSkew: $skewBy - 5deg;
    transform: skew(-$skewBy);

    .main-text {
        transform: skew($skewBy);
    }

    .main-title {
        transform: skew($newSkew);
    }

    .main-subtitle {
        transform: skew($newSkew);
    }
}


@mixin is-emphasized($degree:30%, $color) {
    background: linear-gradient(0deg, $color $degree, transparent $degree);
}

.is-emphasized-half-darkblue {
    @include is-emphasized(50%,$fslabDarkBlue)
}
.is-emphasized-half-darkmagenta {
    @include is-emphasized(50%,$fslabDarkMagenta)
}
.is-emphasized-half-rose {
    @include is-emphasized(50%,$fslabRose)
}
.is-emphasized-half-sapphire {
    @include is-emphasized(50%,$fslabSapphire)
}
.is-emphasized-half-purple {
    @include is-emphasized(50%,$fslabPurple)
}
.is-emphasized-half-darkgreen {
    @include is-emphasized(50%,$fslabDarkGreen)
}



.is-emphasized-one-third {
    letter-spacing: 0.1em;
    color:$colorWhite;
}

.is-emphasized-one-third-darkmagenta {
    @extend .is-emphasized-one-third;
    @include is-emphasized(20%,$fslabDarkMagenta)
}
.is-emphasized-one-third-darkblue {
    @extend .is-emphasized-one-third;
    @include is-emphasized(20%,$fslabDarkBlue);
}
.is-emphasized-one-third-rose {
    @extend .is-emphasized-one-third;
    @include is-emphasized(20%,$fslabRose)
}
.is-emphasized-one-third-sapphire {
    @extend .is-emphasized-one-third;
    @include is-emphasized(20%,$fslabSapphire)
}
.is-emphasized-one-third-purple {
    @extend .is-emphasized-one-third;
    @include is-emphasized(20%,$fslabPurple)
}
.is-emphasized-one-third-darkgreen {
    @extend .is-emphasized-one-third;
    @include is-emphasized(20%,$fslabDarkGreen)
}

// text title
.main-title {
    // font-family: 'Raleway',sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    letter-spacing: 0.2em;
    display: inline-block;
    text-transform: uppercase;
}

.main-subtitle {
    // font-family: 'Raleway',sans-serif;
    @extend .main-title; 
    font-size: 1.5rem;
}

// text field
.main-TextField {
    padding: 1.5rem 3rem;
    max-width: 100%;
    margin: auto;
    font-size: 18px;
    font-weight: bolder;

    .main-text {
        text-align: justify;
    }
}

.is-skewed-right {
    @include skew-only-container(6deg);

    .main-text {
        margin-left: 0.75rem;
    }
}

.is-skewed-left {
    @include skew-only-container(-6deg);

    .main-text {
        margin-right: 0.75rem;
    }
}

@media only screen and (max-width: 768px) {
    .main-TextField {
        max-width: 85%;
    }

    .is-skewed-right {
        @include skew-only-container(2deg);

        .main-text {
            margin-left: 1rem;
        }
    }

    .is-skewed-left {
        @include skew-only-container(-2deg);

        .main-text {
            margin-right: 1rem;
        }
    }

    .is-reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}
